@keyframes ldio-4sveznguaty {
    0% {
      top: 46px;
      left: 46px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -2px;
      left: -2px;
      width: 96px;
      height: 96px;
      opacity: 0;
    }
  }.ldio-4sveznguaty div {
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-4sveznguaty 1.0204081632653061s cubic-bezier(0,0.2,0.8,1) infinite;
  }.ldio-4sveznguaty div:nth-child(1) {
    border-color: #000000;
    animation-delay: 0s;
  }
  .ldio-4sveznguaty div:nth-child(2) {
    border-color: #000000;
    animation-delay: -0.5102040816326531s;
  }
  .loadingio-spinner-ripple-jf4taoyknqc {
    width: 57px;
    height: 57px;
    display: inline-block;
    overflow: hidden;
    background: rgba(NaN, NaN, NaN, 0);
  }
  .ldio-4sveznguaty {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.57);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-4sveznguaty div { box-sizing: content-box; }